*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
    width:100vw;
    height: 100%;
    background:  hsl(210, 46%, 95%);
}
.main{
    max-width: 375px;
    min-width: 300px;
    width:100vw;
    margin:4rem auto 6rem auto ; /*bcz of extra padding*/
}
.content{
    margin: 1rem;
    display: grid;
    grid-row-gap:3.5rem;
}
.grid{
    height: 100%;
    padding: 1.5rem 1.5rem .3rem 1.5rem;
    border-radius: .5em;
    overflow: hidden;
    
    }

img{
    border-radius: 50%;
    }

.blue{
    background: url(./images/bg-pattern-quotation.svg) no-repeat;
    background-color:hsl(263, 55%, 52%);
    background-position:90% 0 ;
} 

.blue img{
    border: 3px solid gray;
    }

 .name{ 
    padding: .1rem;
    color: hsla(210, 46%, 95%, 0.50);
    position: relative;
    left: 80px;
    top: -55px;
}
h3{
    color: white;
    position: relative;
    top: -15px;
}
.name >div{
    color: hsl(210, 46%, 95%);
    font-size: 18px;
}
.text{
    text-align: justify;
    margin-top: .5rem;
    color: hsla(210, 46%, 95%, 0.70);
    
}
.gray{
    background-color: hsl(217, 19%, 35%);
}
.white{
    background-color: white;
  }
.white h3{
    color: black;
}
.white .name >div{
    color:  hsl(219, 29%, 14%);
    }
.white .name {
  color:  hsla(219, 29%, 14%, 0.50);
}
.white .text{
  color: hsla(219, 29%, 14%, 0.70);
}

.black{
  background-color:  hsl(219, 29%, 14%);
}
.black img{
  border: 3px solid hsl(263, 55%, 52%);
}

@media screen and (min-width:1000px){

    .main{
        max-width:100vw;
        min-width: 1100px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin:2rem auto; 
    }
    .content{
        height: 95%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap:1.5rem;
        

    }
.blue{
        grid-column: 1/3;
    }

.one{
    grid-column: 2/1;
    }

.two{
    grid-column: 4;
    grid-row: 1/3;
}
.black{
    grid-column: 2/4;
}


}
@media screen and (min-width:1500px) {
   .main{
     height: 100vh;
     max-width: 50%;
   }
  
}
